# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Variables y configuraciones locales
.env
.env.*

# Herramientas de desarrollo
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
